<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.normal.portal.impl.PostMapper">
  <resultMap id="BaseResultMap" type="com.normal.portal.impl.Post">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="post_title" jdbcType="VARCHAR" property="postTitle" />
    <result column="post_preview" jdbcType="VARCHAR" property="postPreview" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, post_title, post_preview, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trd_post
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPage" resultType="com.normal.portal.impl.Post">
    select
    <include refid="Base_Column_List" />
    from trd_post
    order  by  update_time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from trd_post
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.normal.portal.impl.Post">
    insert into trd_post (id, post_title, post_preview, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{postTitle,jdbcType=VARCHAR}, #{postPreview,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.normal.portal.impl.Post">
    insert into trd_post
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="postTitle != null">
        post_title,
      </if>
      <if test="postPreview != null">
        post_preview,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="postTitle != null">
        #{postTitle,jdbcType=VARCHAR},
      </if>
      <if test="postPreview != null">
        #{postPreview,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>