<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.normal.dao.context.BizContextMapper">
    <resultMap id="BaseResultMap" type="com.normal.model.context.BizContext">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="context" jdbcType="VARCHAR" property="context"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, type, context
  </sql>

    <insert id="insert" parameterType="com.normal.model.context.BizContext">
    insert into trd_context (type, context)
     values (#{type}, #{context})
  </insert>
    <update id="updateCtxObjByType">
    update trd_context set  context = #{ctxJson}
    where type = #{typeKey}
  </update>

    <delete id="deleteByType">
    delete from trd_context where type = #{type}
  </delete>
    <select id="queryByTypeKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from trd_context
        where type = #{type}
    </select>

</mapper>