<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.normal.dao.autosend.SendGoodMapper">
    <resultMap id="BaseResultMap" type="com.normal.model.autosend.SendGood">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="category_id" jdbcType="VARCHAR" property="categoryId"/>
        <result column="text" jdbcType="VARCHAR" property="text"/>
        <result column="image_paths" jdbcType="VARCHAR" property="imagePaths"
                typeHandler="com.normal.autosend.ImagePathTypeHandler"/>
        <result column="status" jdbcType="INTEGER" property="status"
                typeHandler="com.normal.base.mybatis.EnumTypeHandler"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, category_id, text, image_paths, status
  </sql>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into trd_send_good (category_id, text, image_paths)
        values
        <foreach collection="goods" item="item" separator=",">
            (#{item.categoryId}, #{item.text}, #{item.imageStrs})
        </foreach>
    </insert>

    <update id="updateSendGoodsStatus">
        update trd_send_good set  status = 1 where id = #{id}
    </update>

    <select id="queryUnSendGoods" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from trd_send_good
        where status = 0
    </select>


</mapper>